/* Main */
/* Organize by page/section? */
html {

    font-family: ;

}

body{

    margin: 15px;
    

}

header {

    height: 50px;
    margin: 0;
    align-items: center;
    background-color:;
    display: flex;
    justify-content: space-between;
    padding: 0;


}

header nav ul {

    display: flex;
    justify-content:end;
    font-family:;
    list-style-type: none;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0 1rem;

/* a:link {
Color:;
}
a:hover {
 Font-size:px;
 */

}

header h1 {
    margin: 0;

}

li {
    cursor: pointer;
}

footer {

    display:flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem

}

img {
    max-width: 100%;

}

/* Classes */

.home {

    background-image: url();
   background-size: cover;
   background-position: top;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 70vh;
   text-align:center;
   display: flex;
   align-items:center;
   justify-content: center;

}


.footerhome {



}


.featproj {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width:80%;
    margin:auto;



}

.cardproj {

/* a:link {
Color:;
}
a:hover {
 Font-size:px;
 */

}

.about {

    display:flex;
    justify-content: center;
    align-items: center;
    padding-left:19vw;


}

.aboutbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:3rem;

}

.aboutbar img {
    width: 10%;
    margin-left: 3rem;
    border-radius: 50%;
    
}




/*Ids */

#cv {
   
    background: ;
    color:;
    font-family:;
    padding: 1rem;
    /* a:link {
Color:;
}
a:hover {
 Font-size:px;
 */

}

#more {

     /* a:link {
Color:;
}
a:hover {
 Font-size:px;
 */

}



/* @media all */

@media all and (max-width: 800px) {


}

@media all and (max-width: 600px) {

}

@media all and (max-width: 460px) {


}


